html, body {
  width: 500px;
  background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
  color: #fac1ff;
}

.panel {
  padding: 10px;
}

li {
  margin-bottom: 5px;
}

.text-section-header {
  font-size: 130%;
}
